* {
    transition: 1s all ease;
  p{
    margin-bottom: 0px !important;
  }
}
.address{
  overflow: auto;
  height: 93vh;
}
.header-md {
  box-shadow: none !important;
  height: 12vh !important;
}

.address-edit {
  display: flex;
  justify-content: center;
  ion-icon {
    background: #1373fb;
    color: white;
    font-size: 28px;
    border-radius: 50%;
    padding: 10px;
    /* height: 44px; */
    /* width: 45px; */
    box-shadow: rgba(0, 0, 0, 0.125) 0px 30px 60px -12px inset, #212529 0px 18px 36px -18px inset;
    border: solid 8px white;
  }
}
.address-form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 0px 10px 0px;
  margin: 16px;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  h1{
    color: white;
    background: #1373fb;
    font-size: 25px;
    padding: 10px 0;


  }

  .address-button{
      text-align: center;
      button{
        padding: 4px 19px;
        border-radius: 6px;
        background: #1373fb;
        color: white;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: rgba(0, 0, 0, 0.125) 0px 30px 60px -12px inset, #212529 0px 18px 36px -18px inset;
      }
  }
}

.address-input {
  padding: 6px 18px;
  background: #f8f9fa;
    margin: 21px 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 20px -20px;
  ion-icon {
    font-size: 22px;
    color: #3880ff;
    padding-right: 3px;
  }
  ion-label {
    font-size: 20px;
    font-weight: 600;
  }
  ion-input {
    font-size: 20px;
    border-bottom: 1px solid;
  }

}
