<ion-content class="address">
  <ion-header> <div class="address-top"></div></ion-header>
  <h1 class="text-center">your wish</h1>
  <form action="" class="address-form">
    <div class="address-edit" (click)="goeditaddress()">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
    <div class="address-input">
      <ion-icon name="people-outline"></ion-icon
      ><ion-label color="primary">Name</ion-label>
      <p>{{data?.name}}</p>
    </div>
    <div class="address-input">
      <ion-icon name="call-outline"></ion-icon
      ><ion-label color="primary">Phone No</ion-label>
      <p>{{data?.phone}}</p>
    </div>
    <div class="address-input">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label color="primary">Street Address</ion-label>
      <p>Your Address</p>
    </div>
    <div class="address-input">
      <ion-icon name="tablet-landscape-outline"></ion-icon>
      <ion-label color="primary">Land Mark</ion-label>
      <p>Your Land Mark</p>
    </div>
    <div class="address-input">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label color="primary">Village</ion-label>
      <p>Your Village</p>
    </div>
    <div class="address-input">
      <ion-icon name="pin-outline"></ion-icon>
      <ion-label color="primary">Pincode</ion-label>
      <p>Your Pincode</p>
    </div>
    <div class="address-button">
      <button #toggle checked="false" (click)=" presentAlert()">sumbit</button>
    </div>
  </form>
  <footer><div class="address-bottom"></div></footer>
</ion-content>
