<ion-content class="address">
  <h1 class="text-center">your wish</h1>
  <div class="form">
    <form action="" class="address-form">
      <div class="address-input">
        <ion-icon name="people-outline"></ion-icon
        ><ion-label color="primary">Name</ion-label>
  <ion-input type="text"></ion-input>
   </div>
      <div class="address-input">
        <ion-icon name="call-outline"></ion-icon
        ><ion-label color="primary">Phone No</ion-label>
        <ion-input type="text"></ion-input>
      </div>
      <div class="address-input">
        <ion-icon name="bag-add-outline"></ion-icon>
        <ion-label color="primary">Street Address</ion-label>
        <ion-input type="text"></ion-input>
      </div>
      <div class="address-input">
        <ion-icon name="tablet-landscape-outline"></ion-icon>
        <ion-label color="primary">Land Mark</ion-label>
        <ion-input type="text"></ion-input>
      </div>
      <div class="address-input">
        <ion-icon name="leaf-outline"></ion-icon>
        <ion-label color="primary">Village</ion-label>
        <ion-input type="text"></ion-input>

      </div>
      <div class="address-input">
        <ion-icon name="pin-outline"></ion-icon>
        <ion-label color="primary">Pincode</ion-label>
        <ion-input type="text"></ion-input>

      </div>
      <div class="address-button">
        <button (click)="gooaddress()">sumbit</button>
      </div>
    </form>
  </div>

</ion-content>
