<ion-header>
  <ion-toolbar class="header-nav">
    <ion-title class="text-center">Carts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="end" name="search"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="viewCart">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="1"></ion-col>
      <ion-col size-xs="8" class="viewCarts" >
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-lg="4" size-md="4">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pSBaDdfPseLlxnmspdxrkqbb-xmbXwXtSg&usqp=CAU"
              width="100%"
              height="100%"
              alt=""
            />
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-md="8" class="viewCart-contents">
            <div class="viewCart-content">
              <h6>Apple</h6>
              <p>₹ 122 / kg</p>
              <div class="viewCartscount">
                <button class="add-btn" clear (click)="decrement()">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span>{{count}} </span>
                <button class="add-btn" clear (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="3" class="text-center">
        <div class="cartamount">
          <p>₹ 122</p>
        </div>
        <ion-icon name="add-outline" style="color: #c9c2c2a3;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="my-2">
      <ion-col size-xs="1"></ion-col>
      <ion-col size-xs="8" class="viewCarts" >
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-lg="4" size-md="4">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pSBaDdfPseLlxnmspdxrkqbb-xmbXwXtSg&usqp=CAU"
              width="100%"
              height="100%"
              alt=""
            />
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-md="8" class="viewCart-contents">
            <div class="viewCart-content">
              <h6>Apple</h6>
              <p>₹ 122 / kg</p>
              <div class="viewCartscount">
                <button class="add-btn" clear (click)="decrement()">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span>{{count}} </span>
                <button class="add-btn" clear (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="3" class="text-center">
        <div class="cartamount">
          <p>₹ 122</p>
        </div>
        <ion-icon name="add-outline" style="color: #c9c2c2a3;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="1"></ion-col>
      <ion-col size-xs="8" class="viewCarts" >
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-lg="4" size-md="4">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pSBaDdfPseLlxnmspdxrkqbb-xmbXwXtSg&usqp=CAU"
              width="100%"
              height="100%"
              alt=""
            />
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-md="8" class="viewCart-contents">
            <div class="viewCart-content">
              <h6>Apple</h6>
              <p>₹ 122 / kg</p>
              <div class="viewCartscount">
                <button class="add-btn" clear (click)="decrement()">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span>{{count}} </span>
                <button class="add-btn" clear (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="3" class="text-center">
        <div class="cartamount">
          <p>₹ 122</p>
        </div>
        <ion-icon name="add-outline" style="color: #c9c2c2a3;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="my-2">
      <ion-col size-xs="1"></ion-col>
      <ion-col size-xs="8" class="viewCarts" >
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-lg="4" size-md="4">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pSBaDdfPseLlxnmspdxrkqbb-xmbXwXtSg&usqp=CAU"
              width="100%"
              height="100%"
              alt=""
            />
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-md="8" class="viewCart-contents">
            <div class="viewCart-content">
              <h6>Apple</h6>
              <p>₹ 122 / kg</p>
              <div class="viewCartscount">
                <button class="add-btn" clear (click)="decrement()">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span>{{count}} </span>
                <button class="add-btn" clear (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="3" class="text-center">
        <div class="cartamount">
          <p>₹ 122</p>
        </div>
        <ion-icon name="add-outline" style="color: #c9c2c2a3;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="my-2">
      <ion-col size-xs="1"></ion-col>
      <ion-col size-xs="8" class="viewCarts" >
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-lg="4" size-md="4">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pSBaDdfPseLlxnmspdxrkqbb-xmbXwXtSg&usqp=CAU"
              width="100%"
              height="100%"
              alt=""
            />
          </ion-col>
          <ion-col size-xs="8" size-sm="8" size-lg="8" size-md="8" class="viewCart-contents">
            <div class="viewCart-content">
              <h6>Apple</h6>
              <p>₹ 122 / kg</p>
              <div class="viewCartscount">
                <button class="add-btn" clear (click)="decrement()">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <span>{{count}} </span>
                <button class="add-btn" clear (click)="increment()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="3" class="text-center">
        <div class="cartamount">
          <p>₹ 122</p>
        </div>
        <ion-icon name="add-outline" style="color: #c9c2c2a3;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footer>
  <div class="footer-amount">
    <p> <ion-icon name="information-circle-outline" style="color: #c9c2c2a3;"></ion-icon> <span> Total: </span> ₹ 579.6</p>
  </div>
  <div class="footer-bill">
    <button (click)="gobill()">checkout</button>
  </div>
</footer>
