.menu-header{
  background-image: radial-gradient(circle 975px at 2.6% 48.3%, #0d6efd 0%, rgb(95, 184, 224) 140.7%);
  /* height: 20vh; */
  transform: rotate(-32deg);
  position: relative;
  top: -87px;
  border-bottom-left-radius: 67%;
  padding: 86px;
}
.header-md {
  box-shadow: none  !important;
}
