<ion-content class="viewpage">
  <ion-header>
    <ion-toolbar class="header-nav">
      <ion-title class="text-center">Collection furits</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <!-- viewproducts -->

  <ion-content class="viewproducts">
    <ion-grid>
      <ion-row>
        <ion-col class="viewproducts-aside">
          <div>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWxJOUFmT96AXfPq9k_I6chbIVL3S4Jsz0w_N7RRO542cSEU4j5GEZBaKDY8CJdmjHAhI&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlnqPoi3UAAwMYLVd1VN6HvpQNBjTw2gtCe4BvC11UO_RPWkNaDfpob0lmWYqo6KBEl2E&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWxJOUFmT96AXfPq9k_I6chbIVL3S4Jsz0w_N7RRO542cSEU4j5GEZBaKDY8CJdmjHAhI&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-lg="12" size-md="12" class="text-center">
              <div class="viewproducts-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                  alt=""
                />
              </div>
              <div class="viewproducts-content">
                <p>Furits</p>
              </div>
            </ion-col>
          </div>
        </ion-col>

        <!-- swiper.component.html -->
        <ion-col size="9" class="viewproducts-article">
          <div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let slide of slides">
                  <img [src]="slide.image" alt="Slide {{ slide.id }}" />
                </div>
              </div>
            </div>
            <h4>Collection items furits</h4>
            <ion-row>
              <ion-col
                size-xs="6"
                size-sm="6"
                size-lg="3"
                size-md="4"
                class="viewproducts-article-con"
              >
                <div class="viewproducts-article-img">
                  <img [src]="image" alt="" />
                </div>
                <div class="viewproducts-article-content">
                  <h5>{{name}}</h5>
                  <p>Collection furits</p>
                  <span>1 piece x 3</span>
                  <div class="article-price">
                    <span>₹341</span>
                    <p>
                      <ion-select
                        aria-label="Fruit"
                        toggleIcon="none"
                        placeholder="options"
                        class="m-0 p-0"
                      >
                        <ion-select-option value="apples"
                          >Apples</ion-select-option
                        >
                        <ion-select-option value="oranges"
                          >Oranges</ion-select-option
                        >
                        <ion-select-option value="bananas"
                          >Bananas</ion-select-option
                        >
                      </ion-select>
                    </p>
                  </div>
                </div>
              </ion-col>
              <ion-col
                size-xs="6"
                size-sm="6"
                size-lg="3"
                size-md="4"
                class="viewproducts-article-con"
                (click)="openpopup()"
              >
                <div class="viewproducts-article-img">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8W5rPwlsW0RHWUmy0RYH7Wm1Zmbs_UKqrphlSbvDa3wgLwqVsdThoL4fRdAtgreZMvEs&usqp=CAU"
                    alt=""
                  />
                </div>
                <div class="viewproducts-article-content">
                  <h5>Fresh Furits</h5>
                  <p>collection furits</p>
                  <span>1 piece x 3</span>
                  <div class="article-price">
                    <span>₹341</span>
                    <p>
                      <button class="add-btn" clear (click)="decrement()">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                      <span>{{count}} </span>
                      <button class="add-btn" clear (click)="increment()">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
<div *ngIf="visible" class="popup">
  <div class="popup-top">
    <div class="popup-emoji">🎉</div>
    <p>Hoory! <span>FREE DELIVERY</span> Unlocked</p>
    <ion-icon name="close" (click)="closepopup()" class="text-end"></ion-icon>
  </div>
  <ion-row>
    <ion-col size-xs="12" size-sm="10">
      <div class="popup-content">
        <p>1 item | 123</p>
        <h6 (click)="goViewCarts()">view cart</h6>
      </div>
    </ion-col>
  </ion-row>
</div>
