.menu-header{
  background-image: radial-gradient(circle 975px at 2.6% 48.3%, #0d6efd 0%, rgb(95, 184, 224) 140.7%);
  color: white;
  height: 27vh;
  transform: rotate(-33deg);
  position: relative;
  top: -71px;
  border-bottom-left-radius: 67%;
  text-align: center;
}
.header-md {
  box-shadow: none  !important;
}
