
<ion-content style="overflow: auto;">

  <div class="profile-background">
    <div class="profile">
      <div class="profile-pic">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
           <div class="profile-content">
            <ion-icon name="person-outline"></ion-icon>
           <div>
            <h6>Name</h6>
            <p>your Name</p>
           </div>
           </div>
          </ion-col>
          <ion-col size="12">
            <div class="profile-content">
              <ion-icon name="call-outline" style="color: #fb68cd;"></ion-icon>
             <div>
              <h6>Phone</h6>
              <p>your Phone no</p>
             </div>
             </div>
          </ion-col>
          <ion-col size="12"> <div class="profile-content">
            <ion-icon name="bag-add-outline" style="color: #198754;"></ion-icon>
           <div>
            <h6>Address</h6>
            <p>your Address</p>
           </div>
           </div></ion-col>
          <ion-col size="12">
            <div class="profile-content">
              <ion-icon name="wallet-outline" style="color: #dc3545;"></ion-icon>
             <div>
              <h6> Order</h6>
              <p>your order</p>
             </div>
             </div>
          </ion-col>
          <ion-col size="12">
            <div class="profile-content">
              <ion-icon name="cart-outline"style="color: #10d7d0;"></ion-icon>
             <div>
              <h6>Carts</h6>
              <p>your carts</p>
             </div>
             </div>
          </ion-col>
          <ion-col size="12">
            <div class="profile-content">
              <ion-icon name="document-text-outline" style="color: #ff6507;"></ion-icon>
             <div>
              <h6>History</h6>
              <p>your history</p>
             </div>
             </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
