

<div class="address">
  <div class="address-header">

  </div>
  <ion-buttons slot="start" class="top-icon">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <h3>your wish</h3>
  <div class="address-edit" >
    <ion-icon name="person-sharp"></ion-icon>
  </div>
  <form action="" class="address-form">
    <div class="address-input">
      <ion-icon name="person" style="color: #688afb;"></ion-icon>
      <ion-label color="primary">name</ion-label>
    </div>
    <div class="address-input">
     <ion-icon name="call-outline" style="color: #fb68cd;"></ion-icon>
     <ion-label color="primary">phone</ion-label>

    </div>
    <div class="address-input">
      <ion-icon name="bag-add-outline" style="color: #198754;"></ion-icon>
      <ion-label color="primary">your Address</ion-label>
    </div>
    <div class="address-input">
      <ion-icon name="wallet-outline" style="color: #dc3545;"></ion-icon>
      <ion-label color="primary">your order</ion-label>

    </div>
    <div class="address-input">
      <ion-icon name="cart-outline"style="color: #10d7d0;"></ion-icon>
      <ion-label color="primary">your Carts</ion-label>

    </div>
    <div class="address-input">
      <ion-icon name="document-text-outline" style="color: #ff6507;"></ion-icon>
      <ion-label color="primary">your history</ion-label>
    </div>
  </form>
</div>

