
* {
  transition: 1s all ease;
p{
  margin-bottom: 0px !important;
}
}
.top-icon{

  font-size: 28px;
  color: #fff;
  transform: translateY(-170px);

}
.address-header{
  background-image: radial-gradient(circle 975px at 2.6% 48.3%, #0d6efd 0%, rgb(95, 184, 224) 140.7%);
    margin-top: -92px;
    padding: 132px 0px;
    border-bottom-left-radius: 173px;
    border-bottom-right-radius: 173px;
}
.address{
  h3{
   transform: translateY(-133px);
    color: #fff;
    text-align: center;
  }
overflow: auto;
height: 93vh;
}
.header-md {
box-shadow: none !important;
height: 12vh !important;
}

.address-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -118px;
ion-icon {
  color: #1373fb;
  font-size: 28px;
  border-radius: 50%;
  padding: 18px;
  border: solid 1px #d5d5d5;
  background: white;
}
}
.address-form {
padding: 0px 0px 10px 0px;
margin: 16px;
border-radius: 20px;
position: relative;
margin-top: 10px;
overflow: hidden;
h1{
  color: white;
  background: #1373fb;
  font-size: 25px;
  padding: 10px 0;


}

.address-button{
    text-align: center;
    button{
      padding: 4px 19px;
      border-radius: 6px;
      background: #1373fb;
      color: white;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: rgba(0, 0, 0, 0.125) 0px 30px 60px -12px inset, #212529 0px 18px 36px -18px inset;
    }
}
}

.address-input {
padding: 6px 18px;
margin: 21px 10px;
border-bottom: solid 1px #d1d1d1;
ion-icon {
  font-size: 22px;
  color: #3880ff;
  padding-right: 3px;
}
ion-label {
  font-size: 20px;
  font-weight: 400;
  color: #666667;
  padding-left: 26px;
}
ion-input {
  font-size: 20px;
  border-bottom: 1px solid;
}

}
