.home-page{
  overflow: auto;
}
.header-md {
  box-shadow: none  !important;
}

ion-title span{
  padding-right: 20px;
  font-size: 18px;
}
ion-title{
  display: flex;
}
.ban-img{
  padding: 0 6px;
  width: 100%;
}
.banner img{
  padding: 10px;

}
ion-grid{
  overflow: auto;
}
.card-content{
  width: 100% !important;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 10px;
}
.card-content img{
  width: 110px;
  height: 100px;

}
ion-card-title{
  font-weight: bold;
  font-size: 16px;
}
